.sidebar {
  flex: 1;
  /* background-color: aqua; */
  height: 100vh;
  border-radius: 12px;
  border: 1px solid rgb(220, 216, 216);
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebarMini {
  margin-top: 15px;
  margin-left: 15px;
  flex-direction: row;
  display: flex;
  /* background-color: antiquewhite; */
}

.avatar {
  height: 30px;
  width: 30px;
  object-fit: contain;
  margin-right: 10px;
}

div span {
  display: block;
}

.inc {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.innovative {
  font-size: 12px;
  font-weight: 600;
}

.incContainer {
  flex: 1;
}

.avatar2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.icon {
  margin-left: 10px;
}

.second {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.third:hover {
  background-color: #99bc85;
  cursor: pointer;
}

.text {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #888;
  flex: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text2 {
  font-size: 10px;
  font-weight: 500;
  padding: 3px;
  color: #888;
  border-radius: 5px;
  border: 0.5px solid #ebdede;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.third {
  flex-direction: row;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.third2 {
  flex-direction: row;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.third2:hover {
  background-color: rgb(214, 213, 213);
  cursor: pointer;
}

.third3 {
  flex-direction: row;
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
  /* background-color: #99bc85; */
  margin-right: 15px;
}

.text3 {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 1;
  margin-left: 10px;
}

.icon2 {
  margin-left: 0px;
}

.third4 {
  flex-direction: row;
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 130px;
}

.dropdown-list li {
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.span {
  font-size: 13px;
  font-weight: 600;
  color: #888;
  margin-left: 10px;
}

.li {
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}

.third4:hover {
  cursor: pointer;
}

.third5 {
  flex-direction: row;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
}

.third6 {
  /* flex-direction: row;
  display: flex; */
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
}
